# Logs
*.log*

# Dependency directories
node_modules

# TypeScript cache
*.tsbuildinfo

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
*.env*

# build files
dist

# Vitepress
packages/website/docs/.vitepress/cache